<!DOCTYPE html>
<html>
<head>
  <title>Networks</title>
  <script src="//d3js.org/d3.v3.min.js"></script>
  <script src="https://d3js.org/d3.v4.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.js"></script>
  <link rel="stylesheet" href="style.css">
 </head>

<body>
  <div id="header">
    <h1><a href="/">Trin Analytics</a></h1>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.js"></script>
  <script src="//d3js.org/d3.v3.min.js"></script>
  <script id = "scriptJS" src="script.js"></script>
  <button id="reset" onclick="reload_js()">
    Reset
  </button>
  <div id="info">
    <h2>Welcome to Trin Analytics!<h2>
  </div>
    
<div class="dropdown">
  <button class="dropbtn">Filter Options</button>
  <div class="dropdown-content">
  <a id = "students" href="#" onclick="beginReload();svgFunction('graphFile.json');return false;">Students</a>
  <a id = "courses" href="#" onclick="beginReload();svgFunction('classesStudentsF.json');return false;">Courses</a>
  <a id = "classes" href="#" onclick="beginReload();svgFunction('classesComplete.json');return false;">Classes by Section</a>
  </div>
</div>
  <script>
    function reload_js() {
      beginReload()
      svgFunction("graphFile.json")
    }
    
    var beginReload = function (){
      $('svg').remove();
      $('#info').html("<h2>Welcome to Trin Analytics!<h2>");      
      $('#reset').css('top', $("#info").position().top + $("#info").height()+ 50);
    }
    
    var windowWidth = $(window).width();
    $('#header').css('width', windowWidth);
    $('#info').css('left', windowWidth*.72);
    $('#info').css('width', windowWidth*.25);
    $('#reset').css('left', windowWidth*.72);
    $('#reset').css('top', $("#info").position().top + $("#info").height()+ 50);
  </script>
 </body>
</html>
