<!DOCTYPE html>
<html>
<head>
  <title>Networks</title>
  <script src="//d3js.org/d3.v3.min.js"></script>
  <link rel="stylesheet" href="style.css">
 </head>

<body>
  <script src="//d3js.org/d3.v3.min.js"></script>
  <!-- <script src="../src/netjsongraph.js"></script>
  <script>d3.netJsonGraph("graphFile.json", {
    linkDistance:150,
    defaultStyle: false
  });</script> -->
  <script src="script.js"></script>
 </body>
</html>
