<!DOCTYPE html>
<html>
<head>
  <title>Trinity Analytics- Stats</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.js"></script>
  <link rel="stylesheet" href="style.css">
 </head>

<body>
  <div id="header">
    <h1><a href="/">Trin Analytics</a></h1>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.js"></script>

<div class="dropdown">
  <button class="dropbtn">Filter Options</button>
  <div class="dropdown-content">
  <a id = "students" href="/students">Students</a>
  <a id = "courses" href="/courses">Courses</a>
  <a id = "coursesArc" href="/coursesArc">Courses (Arc)</a>
  <a id = "classes" href="/classes">Classes by Section</a>
  </div>
</div>

<div id="stats-header">
  <h2>Trin Analytics- Statistics</h2>
</div>

<div id="data">
  <table class="cinereousTable">
      <tr>
        <th class="top_row">Categories</th>
        <th class="top_row">Graph of Students</th>
        <th class="top_row">Graph of Courses</th>
      </tr>
      <%for(var i=0; i < data["column1"].length; i++){%>
        <tr>
        <td> <%=data["column1"][i]%></td>
        <td> <%=data["column2"][i]%></td>
        <td> <%=data["column3"][i]%></td>
        </tr>
      <%}%>
  </table>

  
  <form action="/search" method="get">
      Search for a senior to check out their vertex degree:<input type="text" id="enter_name_input" name="name"><br>
      <button type="submit" id = "enter_name_button">Submit Name</button>
  </form>
  
  <%if (search!=null) {%>
    <p><%=search%></p>
  <%}%>
<div>

  
<div>
  <h2> </h2>
</div>

  <script>
    var windowWidth = $(window).width();
    $('#header').css('width', windowWidth);
    $('#info').css('left', windowWidth*.72);
    $('#info').css('width', windowWidth*.25);
  </script>
 </body>
</html>
