@import url('https://fonts.googleapis.com/css?family=Cinzel|Poppins:100|Pragati+Narrow');
@import url('https://fonts.googleapis.com/css?family=Raleway:300');

body {
  font-family: Arial, sans-serif;
  font-size: 10px;
  background-color: #dddddd;
}

.node {
  /* stroke: #000; */
  stroke-width: 1px;
}

.link {
  stroke: #999;
  stroke-width: 0.5px;
}

#info {
  font-family: "Helvetica Neue";
  font-weight: 100;
  font-size: 12px;
}

#header {
  z-index: 500px;
  background-color: #b5c6e0;
  position: absolute;
  left:-1px;
  top:-1px;
}

#header h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  margin-left: 15px;
}

.button {
  position: absolute;
  background-color: #b5c6e0; /* Green */
  border: none;
  border-radius: 12px;
  color: black;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#reset {
  position: absolute;
  background-color: #b5c6e0; /* Green */
  border: none;
  border-radius: 12px;
  color: black;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#info {
  padding-left: 10px;
  padding-right: 10px;
  background-color: #b5c6e0;
  position: absolute;
  top: 8em;
  text-align: center;
  padding-bottom: 10px;
}

#info h2{
  font-family: "Raleway", sans-serif;
  font-size: 25px;
}

table {
  font-family: "Raleway", sans-serif;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

svg text {
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

#stats-header {
  position:absolute; 
  top:15%; 
  /* left:2%; */
  background-color: #ced5e0;
  width: 98.5%;
  border-left-style: solid;
  border-color: #788291;
}
#stats-header h2 {
  padding-left: 1%;
}
#data {
  position: absolute;
  top: 25%;
}
.dropbtn {
  border-radius: 8px;
  background-color: #7fafc9;
  color: white;
  padding: 12px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: 23px;
  right: 20px;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #4b8db1;
}
