@import url('https://fonts.googleapis.com/css?family=Cinzel|Poppins:100|Pragati+Narrow');
@import url('https://fonts.googleapis.com/css?family=Raleway:300');

body {
  font-family: Arial, sans-serif;
  font-size: 10px;
}

.node {
  stroke: #000;
  stroke-width: 1px;
}

.link {
  stroke: #999;
  stroke-width: 0.5px;
}

#info {
  font-family: "Helvetica Neue";
  font-weight: 100;
  font-size: 12px;
}

#header {
  z-index: 500px;
  background-color: #b5c6e0;
  position: absolute;
  left:-1px;
  top:-1px;
}

#header h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  margin-left: 15px;
}

#reset {
  position: absolute;
  top: 920px;
}

#info {
  padding-left: 10px;
  padding-right: 10px;
  background-color: #b5c6e0;
  position: absolute;
  top: 8em;
  text-align: center;
}

#info h2{
  font-family: "Raleway", sans-serif;
  font-size: 25px;
}

#info p {
  font-size: 18px;
}

svg text {
  font-family: "Raleway", sans-serif;
}